* {
  padding: 0;
  margin: 0;
}

body, html {
  font-family: 'Martel Sans', sans-serif;
  font-size: 16px;
  background: linear-gradient(to bottom, #f00 0%,#ff6262 40%,#444 100%);
  background-attachment: fixed;
  height: 100%;
}

ul {
  list-style: none;
}


nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;

  img {
    height: 40px;
    margin: 10px;
  }

  ul {
    display: flex;
    flex-direction: row;
    li {
      height: inherit;
      margin-right: 20px;
    }
  }

}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  a:first-child {
    margin-top: 20px;
  }
  a {
    margin-bottom: 20px;
  }
}

.tile-container {
  display: flex;
  flex-direction: row;
  background-color: #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 80vw;
  min-width: 300px;

  .cover-photo{
    height: 150px;
    width: 150px;
    border-radius: 5px;
  }

  .text-container{
    flex-grow: 1;
    padding: 10px;
    .tile-title{
      font-size: 1.7em;
      line-height: 1em;
    }
  }

}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  * {
    border-radius: 5px;
    padding: 5px;
  }
  .title-input {
    height: 30px;
    width: 50vw;
    margin: 10px;
  }
  .cover-url-input {
    height: 30px;
    width: 80vw;
    margin-bottom: 10px;
  }
  .tags-input {
    height: 30px;
    width: 80vw;
    margin-bottom: 10px;
  }
  .content-input {
    height: 50vh;
    min-height: 160px;
    width: 80vw;
    margin-bottom: 10px;
  }
  .submit-button:hover {
    cursor: pointer;
    background-color: #bbb;
  }
}

.active {
  color: red;
}

a {
  color: black;
  text-decoration: none;
}
